<div class="container m-5">
  <div class="container-fluid px-0 mx-0">
    <div class="row g-0 align-items-start">
      <div class="col-12 text-center p-3 mt-2">
        <h1>EQUIPO FUTBOL</h1>
        <small>light your thoughts</small>
      </div>
    </div>
    <div class="row g-0 align-items-start">
      <div class="col-xxl-4 col-xl-4 col-lg-4 threads">
        <!-- <app-user-thread-plist-unrouted></app-user-thread-plist-unrouted>-->
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 replies">
        <!--<app-user-reply-plist-unrouted></app-user-reply-plist-unrouted>-->
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 info">
        <div class="card">
          <div class="card-header">
            Featured Users
          </div>
          <div class="card-body">
            <ul>
              <li>User 1</li>
              <li>User 2</li>
              <li>User 3</li>
              <li>User 4</li>
              <li>User 5</li>
            </ul>
          </div>
          <div class="card">
            <div class="card-header">
              Featured Threads
            </div>
            <div class="card-body">
              <ul>
                <li>User 1</li>
                <li>User 2</li>
                <li>User 3</li>
                <li>User 4</li>
                <li>User 5</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>