<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      <tr>
        <th>id</th>
        <td>{{oJugador.id}}</td>
      </tr>
      <tr>
        <th>nombre</th>
        <td>{{oJugador.nombre}}</td>
      </tr>
      <tr>
        <th>apellido</th>
        <td>{{oJugador.apellido}}</td>
      </tr>
      <tr>
        <th>title</th>
        <td>{{oJugador.fecha_nacimiento}}</td>
      </tr>
      <tr>
        <th>title</th>
        <td>{{oJugador.posicion}}</td>
      </tr>
      <tr>
        <th>title</th>
        <td>{{oJugador.nacionalidad}}</td>
      </tr>
      <tr>
        <th>equipo</th>
        <td> <a [routerLink]="['/admin','equipo','view',oJugador.equipo.id]">{{oJugador.equipo.nombre}}</a></td>
      </tr>
    </tbody>
  </table>
</div>