<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>
<br><br>
<div *ngIf="status==null">
  <div class="d-flex justify-content-between mb-3">
    <h3 *ngIf="id_equipo>0">Filtrado por equipo ({{id_equipo}} - {{oEquipo?.nombre}}) &nbsp;&nbsp;&nbsp;<a type="button"
        class="btn btn-danger btn-sm" *ngIf="id_equipo>0" [routerLink]="['/admin','jugador','plist']">Restablecer
        filtro</a></h3>
    <h3 *ngIf="!(id_equipo>0)">Sin filtro activo</h3>
    <h3>Mostrando {{oPage?.numberOfElements}} de {{oPage?.totalElements}} jugadores.</h3>
  </div>
  <div class="flex justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>

  <div class="mb-5 ">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead>
        <tr>
          <th (click)="doOrder('id')">ID</th>
          <th (click)="doOrder('nombre')">Nombre</th>
          <th (click)="doOrder('apellido')">Apellido</th>
          <th (click)="doOrder('fecha_nacimiento')">Fecha nacimiento</th>
          <th (click)="doOrder('posicion')">Posicion</th>
          <th (click)="doOrder('nacionalidad')">Nacionalidad</th>
          <th (click)="doOrder('equipo')">Equipo</th>
          <th>Herramientas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let j of oPage?.content" class="align-middle">
          <td class="text-end"><strong>{{j.id}}</strong></td>
          <td>{{j.nombre}}</td>
          <td>{{j.apellido}}</td>
          <td>{{j.fecha_nacimiento}}</td>
          <td>{{j.posicion}}</td>
          <td>{{j.nacionalidad}}</td>
          <td>
            <a [routerLink]="['/admin','jugador','plist','byequipo',j.equipo.id]">({{j.equipo.id}})
              {{j.equipo.nombre}}</a>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button class="btn btn-custom-view" [routerLink]="['/admin','jugador','view',j.id]"><i
                  class="pi pi-eye"></i></button>
              <button class="btn btn-custom-view2" (click)="doView(j)"><i class="pi pi-arrow-circle-up"></i></button>
              <button class="btn btn-custom-warning" [routerLink]="['/admin','jugador','edit',j.id]"><i
                  class="pi pi-pencil"></i></button>
              <button class="btn btn-custom-danger" (click)="doRemove(j)"><i class="pi pi-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i>Eliminar jugador</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <app-admin-jugador-detail-unrouted [id]="oJugadorToRemove!.id"></app-admin-jugador-detail-unrouted>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>¿Estás seguro de eliminar el jugador?</p>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>