<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="d-flex justify-content-center mb-3">
        <h1 class="my-5">Login Form</h1>
      </div>
    </div>
  </div>
</div>

<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Username is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 6 characters length</mat-error>
    </mat-form-field>
    <div class="control-group text-center">
    <button class="mx-1" mat-raised-button type="submit" color="primary">Iniciar sesión</button>
    <button class="mx-1" mat-raised-button type="button" color="warn" (click)="onReset()">Reset</button>
    </div>
  </form>

  <div class="col-12 mt-5">
    <div class="card">
      <div class="card-body">
        <div class="control-group text-center mt-3">
          <button class="btn btn-danger m-2" (click)="loginAdmin()">log in as admin</button>
          <button class="btn btn-success m-2" (click)="loginUser()">log in as user</button>
        </div>
      </div>
    </div>
  </div>

</div>