<div class="login-form-container mt-5">
  <div class="row justify-content-center">
    <div class="col-auto"> <br>
      <div class="d-flex justify-content-center mb-3">
        <h1 class="title">Login</h1>
      </div> <br>
    </div>
  </div>
  <div class="form-box">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Username is required</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 6 characters
          length</mat-error>
      </mat-form-field>
      <div class="control-group text-center">
        <button class="btn" mat-raised-button type="submit">Iniciar sesión</button>
        <button class="btn" mat-raised-button type="button" (click)="onReset()">Reset</button>
      </div>
    </form>

    <div class="col-12 mt-5">
      <div class="control-group text-center mt-3">
        <button class="btn" (click)="loginAdmin()">Log in as admin</button>
        <button class="btn" (click)="loginUser()">Log in as user</button>
      </div>
    </div>
  </div>
</div>