h1 {
    font-family: 'Comfortaa', sans-serif;
    color: rgb(197, 92, 129);
    text-align: center;
}

.card.text-center h3 {
    color: #dc3545;
}

.btn-primary,
.btn-warning,
.btn-danger {
    font-family: 'Comfortaa', sans-serif;
    background-color: rgb(197, 92, 129);
    color: #fff;
    border-color: rgb(0, 0, 0);
}

.btn-danger {
    background-color: rgba(238, 28, 28, 0.885);
}

.btn-primary {
    background-color: rgb(76, 142, 212);
}

.btn-primary:hover,
.btn-warning:hover,
.btn-danger:hover {
    background-color: rgb(197, 92, 129);
    color: rgb(0, 0, 0);
}

.d-flex.justify-content-center {
    margin-top: 20px;
    text-align: center;
}

.btn-primary {
    margin-right: 10px;
}

.p-confirmPopup {
    background-color: rgba(197, 92, 129, 0.8);
}