<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="login-form-container">
        <h1 class="title">Logout</h1> <br>
        <div class="form-box card mt-3">
          <p class="subtitle">Estás seguro de cerrar sesión?</p>
          <div class="card-body">
            <div class="d-flex justify-content-center control-group">
              <button class="btn btn-warning mx-2" (click)="logout()">Si</button>
              <button class="btn btn-primary mx-2" (click)="cancel()">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>