<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field *ngIf="operation=='EDIT'">
            <mat-label>ID:</mat-label>
            <input matInput formControlName="id" placeholder="ID" required readonly>
            <mat-hint align="end">(can't change this number)</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name" placeholder="Name" required>
            <mat-hint align="end">(3 to 255 characters long)</mat-hint>
            <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('name', 'minlength')">More length is required</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">Limit exceed</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Surname:</mat-label>
            <input matInput formControlName="surname" placeholder="Surname" required>
            <mat-hint align="end">(3 to 255 characters long)</mat-hint>
            <mat-error *ngIf="hasError('surname', 'required')">Surname is required</mat-error>
            <mat-error *ngIf="hasError('surname', 'minlength')">More length is required</mat-error>
            <mat-error *ngIf="hasError('surname', 'maxlength')">Limit exceed</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]=350>
            <mat-label>Lastname:</mat-label>
            <input matInput formControlName="lastname" placeholder="Lastname">
            <mat-hint align="end">(max. 255 characters long)</mat-hint>
            <mat-error *ngIf="hasError('lastname', 'maxlength')">Limit exceed</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" placeholder="Email" required>
            <mat-error *ngIf="hasError('email', 'email')">Email is not valid</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Username:</mat-label>
            <input matInput formControlName="username" placeholder="Username" required>
            <mat-hint align="end">(6 to 15 alphanumeric)</mat-hint>
            <mat-error *ngIf="hasError('username', 'required')">Username is required</mat-error>
            <mat-error *ngIf="hasError('username', 'minlength')">More length is required</mat-error>
            <mat-error *ngIf="hasError('username', 'maxlength')">Limit exceed</mat-error>
            <mat-error *ngIf="hasError('username', 'pattern')">Characters not accepted</mat-error>
          </mat-form-field>
        </div>

        <mat-radio-group aria-label="Type of user" formControlName="role" required>
          <mat-radio-button [value]="true">Admin</mat-radio-button>
          <mat-radio-button [value]="false">User</mat-radio-button>
          <mat-error *ngIf="hasError('role', 'required')">User Type is required</mat-error>
        </mat-radio-group>

        <div class="text-center mt-5">
          <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Save User</button>
        </div>

      </form>
    </div>
  </div>
</div>