.navbar {
    box-shadow: 0 1px 8px rgb(197, 92, 129);
    font-family: 'Comfortaa', sans-serif;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand img {
    max-height: 80px;
}

.navbar-brand {
    color: rgba(197, 92, 129, 0.836);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: rgb(197, 92, 129);
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-link.active {
    color: #000000;
}

.navbar-text {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.navbar-text a {
    color: rgb(197, 92, 129);
}

.navbar-text a.active,
.navbar-text a.login:hover,
.navbar-text a.logout:hover {
    color: #000000;
}

.navbar-nav .nav-item .nav-link.active {
    background-color: rgba(197, 92, 129, 0.836);
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}