<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Equipo Futbol</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
              </li>
              <li class="nav-item" *ngIf="strEquipoName && oSessionEquipo?.role==false">
                <a class="nav-link" routerLink="/admin/equipo/plist">Equipos</a>
             </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/jugador/plist" *ngIf="strEquipoName && oSessionEquipo?.role==false">Jugadors</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/miembroCuerpoTecnico/plist" *ngIf="strEquipoName && oSessionEquipo?.role==false">Miembros cuerpo técnico</a>
              </li>

          </ul>

          <span class="navbar-text mx-1" *ngIf="strEquipoName">
              Logged as {{strEquipoName}}
          </span>
          <span class="navbar-text mx-1" *ngIf="!strEquipoName">
              Not logged in
          </span>
          <span class="navbar-text mx-1">
              <a class="nav-link" routerLink="/login" href="#" *ngIf="!strEquipoName">Login</a>
          </span>
          <span class="navbar-text mx-1">
              <a class="nav-link" routerLink="/logout" href="#" *ngIf="strEquipoName">Logout</a>
          </span>

      </div>
  </div>
</nav>