<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
      <div class="alert alert-danger" role="alert">
          {{status!.error.message}} - {{status!.message}}
      </div>
  </div>
</div>

<div *ngIf="status==null">
  <table class="table table-striped table-hover">
      <tbody>
          <tr>
              <th>Propiedad</th>
              <th>Valor</th>
          </tr>
          <tr>
              <th>id</th>
              <td>{{oEquipo.id}}</td>
          </tr>
          <tr>
              <th>nombre</th>
              <td>{{oEquipo.nombre}}</td>
          </tr>
          <tr>
              <th>ciudad</th>
              <td>{{oEquipo.ciudad}}</td>
          </tr>
          <tr>
              <th>año_fundacion</th>
              <td>{{oEquipo.ano_fundacion}}</td>
          </tr>
          <tr>
              <th>estadio</th>
              <td>{{oEquipo.estadio}}</td>
          </tr>
          <tr>
              <th>liga</th>
              <td>{{oEquipo.liga}}</td>
          </tr>
          <tr>
            <th>username</th>
            <td>{{oEquipo.username}}</td>
        </tr>
          <tr>
              <th>role</th>
              <td>
                  <span *ngIf="oEquipo.role==true">Admin</span>
                  <span *ngIf="oEquipo.role==false">User</span>
              </td>
          </tr>
      </tbody>
  </table>
</div>