/* Estilos comunes para ambos div */
.common-style {
    font-family: 'Comfortaa', sans-serif;
    margin: 10px;
}

.alert-danger {
    background-color: rgba(197, 92, 129, 0.836);
    color: #fff;
    border-color: rgb(0, 0, 0);
    padding: 15px;
    margin-bottom: 15px;
}

.d-flex {
    font-family: 'Comfortaa', sans-serif;
    margin: 15px 0;
}

ol li {
    margin-bottom: 15px;
    font-size: 15px;	
}