<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="d-flex justify-content-between mb-3">
    <h3>No active filter</h3>
    <h3>Showing {{oPage?.numberOfElements}} of total {{oPage?.totalElements}} equipos.</h3>
  </div>
  <div class="flex justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0"></p-paginator>
  </div>


  <div class="mb-5 ">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead>
        <tr>
          <th (click)="doOrder('id')">ID</th>
          <th (click)="doOrder('nombre')">Nombre</th>
          <th (click)="doOrder('ciudad')">Ciudad</th>
          <th (click)="doOrder('ano_fundacion')">Año Fundación</th>
          <th (click)="doOrder('estadio')">Estadio</th>
          <th (click)="doOrder('liga')">Liga</th>
          <th (click)="doOrder('username')">Username</th>
          <th (click)="doOrder('role')">Role</th>
          <th>Jugadores</th>
          <th>Miembros del Cuerpo Tecnico</th>
          <th>Tools</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of oPage?.content" class="align-middle">
          <td class="text-end"><strong>{{e.id}}</strong></td>
          <td>{{e.nombre}}</td>
          <td>{{e.ciudad}}</td>
          <td>{{e.ano_fundacion}}</td>
          <td>{{e.estadio}}</td>
          <td>{{e.liga}}</td>
          <td>{{e.username}}</td>
          <td class="text-center">
            <span *ngIf="e.role==true">Admin</span>
            <span *ngIf="e.role==false">User</span>
          </td>
          <td class="text-center">
            <a [routerLink]="['/admin','jugador','plist','byuser',e.id]" *ngIf="e.jugadores>0">{{e.jugadores}}</a>
            <span *ngIf="e.jugadores==0">0</span>
          </td>
          <td class="text-center">
            <a [routerLink]="['/admin','miembroCuerpoTecnico','plist','byuser',e.id]" *ngIf="e.miembrosCuerpoTecnico>0">{{e.miembrosCuerpoTecnico}}</a>
            <span *ngIf="e.miembrosCuerpoTecnico==0">0</span>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button class="btn btn-primary" [routerLink]="['/admin','equipo','view',e.id]"><i
                  class="pi pi-eye"></i></button>
              <button class="btn btn-primary" (click)="doView(e)"><i class="pi pi-arrow-circle-up"></i></button>
              <button class="btn btn-warning" [routerLink]="['/admin','equipo','edit',e.id]"><i
                  class="pi pi-pencil"></i></button>
              <button *ngIf="e.jugadores==0 && e.miembrosCuerpoTecnico==0" class="btn btn-danger" (click)="doRemove(e)"><i
                  class="pi pi-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i> Equipo removal</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <app-admin-equipo-detail-unrouted [id]="oEquipoToRemove!.id"></app-admin-equipo-detail-unrouted>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>¿Are you sure to remove user?</p>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>